---
import Layout from "../layouts/Layout.astro";
import FlippableCard from "../components/FlippableCard.astro";

import UserInfo from "../components/UserInfo";

import FrontCreditCard from "../components/CreditCard/FrontCreditCard";
import BackCreditCard from "../components/CreditCard/BackCreditCard";
---

<Layout>
  <main class="flex flex-col gap-12">
    <header>
      <h1 class="font-extrabold text-4xl">Ballebank</h1>
      <p class="text-zinc-500 text-xl">Guarde seus cartões de forma segura.</p>
    </header>

    <form
      class="grid grid-cols-[475px,564px] grid-rows-1 gap-x-10 gap-y-12 max-w-[1124px]"
      action=""
    >
      <UserInfo client:load />

      <FlippableCard>
        <FrontCreditCard slot="front-card" client:load />
        <BackCreditCard slot="back-card" client:load />
      </FlippableCard>

      <button
        type="reset"
        class="col-span-2 w-52 h-10 bg-salmon font-semibold rounded-md mx-auto text-sm hover:bg-salmon/90 hover:text-gray-300 transition-colors"
      >
        Cadastrar cartão</button
      >
    </form>
  </main>
</Layout>

<script>
  const form = document.querySelector("form") as HTMLFormElement;
  form.addEventListener("submit", (event) => {
    event.preventDefault();

    const confirmation = confirm("Deseja cadastrar o cartão?");
    if (confirmation) {
      alert("Cartão cadastrado com sucesso!");
    } else alert("Cartão não cadastrado.");
  });
</script>
