---
import GithubLogo from "../assets/github-mark.svg";
---

<a
  href="https://github.com/davipatricio/ballebank-challenge"
  class="flex items-center justify-center bg-gray-red rounded-md w-10 h-10"
>
  <img src={GithubLogo} width="20" height="20" draggable="false" />
</a>
